[core]
  pager = delta
  editor = nvim
  excludesfile = ~/.gitignore_global

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  ; https://github.com/dandavison/delta/blob/main/themes.gitconfig
  syntax-theme = Monokai Extended Light
  ; dark = true
  light = true
  side-by-side = true
  line-numbers = true
  hyperlinks = true

[merge]
  ; conflictstyle = diff3
  conflictstyle = zdiff3

[diff]
  colorMoved = default

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[user]
  name = jovi
  email = g@jovi.email
