[submodule "tmux_old"]
	path = tmux_old
	url = https://github.com/feileo/tmux.git
[submodule "nvim-starter"]
	path = nvim-starter
	url = https://github.com/feileo/nvim-starter.git
[submodule "nvim-core"]
	path = nvim-core
	url = https://github.com/feileo/nvim-core.git
[submodule "nvim-ui"]
	path = nvim-ui
	url = https://github.com/feileo/nvim-ui.git
