[submodule "tmux"]
	path = tmux
	url = https://github.com/feileo/tmux.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/feileo/nvim.git
[submodule "nvim-core"]
	path = nvim-core
	url = https://github.com/feileo/nvim-core.git
